.editProfile{
    color: white;
    border-bottom: 1px solid white;
  }

main{
    padding-left: 25%;
    padding-right: 25%;
}

.container {
    max-width: 600px;
    color: #fff;
}
.profile-pic {
    width: 100px;
    height: 100px;
}
.form-control {
    background-color: #333;
    color: #fff;
    border: none;
}
.form-control:focus {
    background-color: #444;
    color: #fff;
    border-color: #555;
    box-shadow: none;
}

.nav-link.dropdown-toggle {
    border: 2px solid white; 
    border-radius: 5px; 
    padding: 5px 10px; 
    width: 100px;
  }

.btn {
    border-radius: 0;
    font-weight: bold;
}

.btn-edit{
    border: 1px solid;
    color: #fff;
}

.btn-save {
    
    background-color: #fff;
}
.btn-cancel, .btn-delete {
    color: #fff;
    border: solid 1px;
}
.btn-cancel:hover, .btn-delete:hover {
    background-color: #444;
}